<app-nav-bar  ></app-nav-bar>
<div  class="grid grid-cols-1 px-4 gap-4 lg:grid-cols-4 lg:gap-8">
    <div class="lg:col-span-3 grid gap-4">
        <div class=" flex flex-col  h-fit bg-white border border-gray-200 rounded-lg shadow  dark:bg-gray-800 dark:border-gray-700">
            <div class="w-full h-[150px] border rounded-t-lg bg-no-repeat bg-cover bg-[url('https://templates.envytheme.com/zust/default/assets/images/my-profile-bg.jpg')]">

            </div>
            <div class="w-full h-1/2 px-12 pb-7 max-[767px]:px-2">
                <div class="flex max-[767px]:block justify-between items-center">
                    <div class="relative max-[767px]:m-0 max-[767px]:-mt-[100px] m w-[25%]  max-[767px]:w-full max-[767px]:flex max-[767px]:justify-center -m-[100px] ml-[9px]">
                        <img class="rounded w-44 h-44" [src]="profileImageProfile" alt="Extra large avatar">
                    </div>
                    <div class="m-3 w-[30%] max-[767px]:w-full max-[767px]:flex max-[767px]:flex-col max-[767px]:items-center max-[767px]:m-0 max-[767px]:mt-2">
                        <h1 class="text-lg cursor-pointer font-semibold leadi">{{firstNameProfile+' '+lastNameProfile}}</h1>
                        <span class="text-sm text-gray-500 dark:text-gray-400">{{emailProfile}}</span>
                    </div>
                    <div class="w-[25%] max-[767px]:w-full">
                        <div class="flex justify-center">
                            <div class="flex items-center flex-col p-2 "><h5 class="mb-1 text-sm font-medium text-gray-900 dark:text-white">Followers</h5><span class="text-sm text-gray-500 dark:text-gray-400">{{followers}}</span></div>
                            <div class="flex items-center flex-col p-2"><h5 class="mb-1 text-sm font-medium text-gray-900 dark:text-white">Likes</h5><span class="text-sm text-gray-500 dark:text-gray-400">{{likes}}</span></div>
                            <div class="flex items-center flex-col p-2"><h5 class="mb-1 text-sm font-medium text-gray-900 dark:text-white">Following</h5><span class="text-sm text-gray-500 dark:text-gray-400">{{following}}</span></div>
                        </div>
                    </div>
                </div>
                <div class="h-[40px] min-[767px]:mt-16 max-[767px]:mb-3">
                    <div class="flex overflow-x-auto justify-between overflow-y-hidden border-b max-[767px]:items-center max-[767px]:justify-center max-[767px]:flex-col border-gray-200 whitespace-nowrap dark:border-gray-700">
                       <div>
                            <button (click)="hide(false)" class="inline-flex items-center h-10 px-2 py-2 -mb-px text-center text-blue-600 bg-transparent border-b-2 border-blue-500 sm:px-4 max-[767px]:px-0 -px-1 dark:border-blue-400 dark:text-blue-300 whitespace-nowrap focus:outline-none">
                                
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mx-1 sm:w-6 sm:h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
                                </svg>
                                <span class="mx-1 text-sm sm:text-base">
                                    Timeline
                                </span>
                            </button>
                        
                            <button (click)="hide(true)" class="inline-flex items-center h-10 px-2 py-2 -mb-px text-center text-gray-700 bg-transparent border-b-2 border-transparent sm:px-4 max-[767px]:px-0 -px-1 dark:text-white whitespace-nowrap cursor-base focus:outline-none hover:border-gray-400">
                                
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mx-1 sm:w-6 sm:h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
                                </svg>
                                <span class="mx-1 text-sm sm:text-base">
                                    Profile
                                </span>
                            </button>
                        
                            <button class="inline-flex items-center h-10 px-2 py-2 -mb-px text-center text-gray-700 bg-transparent border-b-2 border-transparent sm:px-4 max-[767px]:px-0 -px-1 dark:text-white whitespace-nowrap cursor-base focus:outline-none hover:border-gray-400">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mx-1 sm:w-6 sm:h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                                </svg>
                        
                                <span class="mx-1 text-sm sm:text-base">
                                    Friends
                                </span>
                            </button>
                        </div>
                        <div>
                            <button *ngIf="!ifFollow && !checkIfYourProfile()" (click)="followRequest()" class="inline-flex items-center h-10 px-2 py-2 -mb-px text-center text-blue-700 bg-transparent border-b-2 border-transparent sm:px-4 max-[767px]:px-0 -px-1 dark:text-blue-700 whitespace-nowrap cursor-base focus:outline-none hover:border-blue-400">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
                                </svg>
                                <span class="mx-1 text-base sm:text-base">
                                    Follow
                                </span>
                                     
                            </button>
                            <button *ngIf="ifFollow && !checkIfYourProfile()" (click)="navigateToChatByUser()" id="SendButton"  class="inline-flex items-center h-10 px-2 py-2 -mb-px text-center text-green-700 bg-transparent border-b-2 border-transparent sm:px-4 max-[767px]:px-0 -px-1 dark:text-green-700 whitespace-nowrap cursor-base focus:outline-none hover:border-green-100 disabled:text-green-200 " >
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
                                </svg>   
                                <span class="mx-1 text-base sm:text-base">
                                    Send Message
                                </span>
                            </button>
                            <button *ngIf="ifFollow && !checkIfYourProfile()" (click)="followRequest()" class="inline-flex items-center h-10 px-2 py-2 -mb-px text-center text-red-700 bg-transparent border-b-2 border-transparent sm:px-4 max-[767px]:px-0 -px-1 dark:text-red-700 whitespace-nowrap cursor-base focus:outline-none hover:border-red-400">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M22 10.5h-6m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
                                </svg>                                  
                                <span class="mx-1 text-base sm:text-base">
                                    Unfollow
                                </span>
                                     
                            </button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <app-profile-settings [ngClass]="{'hidden': !isHidden,'': isHidden}" ></app-profile-settings>
        <app-create-post [ngClass]="{'hidden': isHidden,'': !isHidden}" *ngIf="checkRoleAdminTeacher()" [userDetails]="userDetails"></app-create-post>
        <app-show-post-profile [ngClass]="{'hidden': isHidden,'': !isHidden}" [idUserPost]="idProfile"></app-show-post-profile>
    </div>
    <div>
        <app-show-latest-messages class="w-full flex justify-center max-[1027px]:hidden" ></app-show-latest-messages>
    </div>
</div>
<app-navigation-mobile class="min-[1027px]:hidden flex justify-center" [email]="userDetails.body.email"></app-navigation-mobile>

