<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    
    <div class="flex flex-col items-center pb-10">
        <img class="w-24 h-24 mb-3 rounded-full shadow-lg" [src]="userDetails.body.profileImage" alt="Bonnie image"/>
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{userDetails.body.userName}}</h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">{{userDetails.body.email}}</span>
        <div class="flex">
            <div class="flex items-center flex-col p-2 "><h5 class="mb-1 text-sm font-medium text-gray-900 dark:text-white">Followers</h5><span class="text-sm text-gray-500 dark:text-gray-400">{{followers}}</span></div>
            <div class="flex items-center flex-col p-2"><h5 class="mb-1 text-sm font-medium text-gray-900 dark:text-white">Likes</h5><span class="text-sm text-gray-500 dark:text-gray-400">{{likes}}</span></div>
            <div class="flex items-center flex-col p-2"><h5 class="mb-1 text-sm font-medium text-gray-900 dark:text-white">Following</h5><span class="text-sm text-gray-500 dark:text-gray-400">{{following}}</span></div>
        </div>
        <div class="flex mt-4 space-x-3 md:mt-6">
            <a (click)=" navigateToProfilePage(userDetails.body.email)" class="inline-flex cursor-pointer items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">view Profile</a>
        </div>
    </div>
</div>